<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/downloads">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/help">Help</a>
            </li>
        </ul>
    </div>
    <select class="form-control pull-right" style="width:auto;" ng-model="selectedInst.instType"
            ng-change="model.updateReportData()" ng-options="x for x in names">
    </select>
</nav>

<div class="content-wrapper py-3">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Error Data Table
                <button type="button" onClick="window.location.href='errorReport210717.csv'" class="btn btn-primary pull-right">Download</button>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search..." ng-model="searchTable">
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">

                        <thead>
                            <tr>
                                <td>
                                    <a href="" ng-click="sortType = 'Id'; sortReverse = !sortReverse">
                                        #
                                        <span ng-show="sortType == 'Id' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Id' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'Version'; sortReverse = !sortReverse">
                                        Version
                                        <span ng-show="sortType == 'Version' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Version' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'hostname'; sortReverse = !sortReverse">
                                        Hostname (IP)
                                        <span ng-show="sortType == 'hostname' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'hostname' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'errorType'; sortReverse = !sortReverse">
                                        Error Type
                                        <span ng-show="sortType == 'errorType' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'errorType' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'errorDate'; sortReverse = !sortReverse">
                                        Error Date
                                        <span ng-show="sortType == 'errorDate' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'errorDate' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'defectId'; sortReverse = !sortReverse">
                                        Defect Id
                                        <span ng-show="sortType == 'defectId' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'defectId' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'Screenshot'; sortReverse = !sortReverse">
                                        Screenshot
                                        <span ng-show="sortType == 'Screenshot' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Screenshot' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'lastReboot'; sortReverse = !sortReverse">
                                        Last Reboot
                                        <span ng-show="sortType == 'lastReboot' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'lastReboot' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="data in tableData | orderBy:sortType:sortReverse | filter:searchTable">
                                <td>{{$index+1}}</td>
                                <td>{{ data.Version }}</td>
                                <td>{{ data.hostname }}</td>
                                <td>{{ data.errorType }}</td>
                                <td>{{ data.errorDate | date:'medium'}}</td>
                                <td>{{ data.defectId }}</td>
                                <td ng-if="data['Screenshot'] != 'NA'"><a ng-href="Gem4K/{{ data.Screenshot }}"> {{ data["Screenshot"] }}</a></td>
                                <td ng-if="data['Screenshot'] == 'NA'">{{ data["Screenshot"] }}</td>
                                <td>{{ data.lastReboot | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>