<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Overview</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Config and Summary</a>
                    <a class="dropdown-item" href="#/failureview">Failure Rate View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#/downloads">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/help">Help</a>
            </li>
        </ul>
    </div>
    <select ng-disabled="selectedInst.disabled" class="form-control pull-right" style="width:auto;" ng-model="selectedInst.instType"
            ng-change="model.updateReportData()" ng-options="x for x in names">
    </select>
</nav>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
            <thead style="font-weight:bold;">
            <tr>
                <td>
                    Baseline
                </td>
                <td>
                    Version
                </td>
                <td>
                    Name of the Report
                </td>
                <td>
                    Date
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="data in model.reports">
                <td> <input type="radio" ng-model="model.baseline" ng-value="data.startDate" ng-change="model.changeBaseline()"></td>
                <td>{{data.build}}</td>
                <td><a href="" ng-click="model.exportToCSV(data.reportData, 'Error Report')">ErrorReport-{{data.startDate | date:'yyyy-MM-dd'}}</a></td>
                <td>{{ data.startDate | date}}&nbsp;-&nbsp;{{ data.endDate | date}} </td>
                <td align="center"><a ng-href="#/overview/{{data.startDate}}/{{selectedInst.instType}}" target="_blank" type="button" class="btn btn-primary">Launch Dashboard</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>