<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Overview</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Config and Summary</a>
                    <a class="dropdown-item" href="#/failureview">Failure Rate View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/downloads">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/help">Help</a>
            </li>
        </ul>
    </div>
    <select ng-disabled="selectedInst.disabled" class="form-control pull-right" style="width:auto;" ng-model="selectedInst.instType"
            ng-change="model.updateReportData()" ng-options="x for x in names">
    </select>
</nav>

<div class="container-fluid">
    <div class="card mb-3">
        <div style="color: blue;">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Failure Rate View Per Instrument
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered bordered table-condensed" width="100%" cellspacing="0">
                <tbody>
                <tr>
                    <th class="alert-success" rowspan="2">Analyzer Name</th>
                    <th class="alert-info" colspan="{{model.dateArray.length}}">Number of Days Running</th>
                    <th class="alert-warning" rowspan="2">Total Failures</th>
                </tr>
                <tr>
                    <td ng-repeat="data in model.dateArray">{{data}}</td>
                </tr>
                <tr ng-repeat="analyser in model.failureRateData">
                    <td>{{analyser.name}}</td>
                    <td ng-style="{'background-color': colors[count]}" ng-repeat="count in analyser.frArray track by $index">
                        <span ng-if="count != 0">{{count}}</span></td>
                    <td>{{analyser.h_total}}</td>
                </tr>
                <tr>
                    <th class="alert-warning">Number of Failures per Day</th>
                    <td ng-repeat="total in model.v_totalArr track by $index">{{total}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>