<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Overview</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Config and Summary</a>
                    <a class="dropdown-item" href="#/failureview">Failure Rate View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/downloads">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#/help">Help</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container-fluid">
    <br>
    <h3>Introduction</h3>
    <p>Dashboard is a interactive reporting tool for visualization of stress test report data. </p>
    <p>It automatically updates the instrument errors in real time.</p>
    <p>Dashboard is lightweight MEAN stack(MongoDB, Express.js, AngularJS,Node.js) dynamic web application</p>
    <p>User can select instrument type(GEM5K, GEM4K or GWP) from the dropdown. Dashboard consists of four main tabs, Overview, Graphs, Charts and Downloads.</p>

    <h3>Configuration</h3>
    <p>Dashboard contains properties file for each of three instruments in a Properties folder.</p>
    <img src="/images/properties.JPG">
    <p>Properties file of an instrument looks similar to above image. It's in JSON format. User can add instrument details(Hostname/Network/SBC/Name) in InstConfig. User can add start date and end date in CommonConfig.properties file.</p>

    <h3>Code Structure</h3>
    <p>Dashboard follows MVC(Model View Controller) architecture. </p>
    <img src="/images/ClientSideCode.JPG">
    <p>Client side services are under services folder. Controller and HTML template for each page is under views folder.</p>
    <img src="/images/ServerSideCode.JPG">
    <p>Server side implementation is under project-server-code folder. Folder contains Server side APIs, database schema and database queries code.</p>

    <h3>API Documentation</h3>
    <ul>
        <li>app.get("/api/dashboard/:instType", findReports):</li>
        <ul>
            <li>Get request to get all reports for a selected instrument.</li>
        </ul>
    </ul>
    <ul>
        <li>app.get("/api/getfilenames/:path", getfilenames):</li>
        <ul>
            <li>Get request to get all filenames from a instrument folder.</li>
        </ul>
    </ul>
    <ul>
        <li>app.post("/api/dashboard", saveReport):</li>
        <ul>
            <li>Post request save or update stress test report.</li>
        </ul>
    </ul>
</div>
