<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Overview</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Config and Summary</a>
                    <a class="dropdown-item" href="#/failureview">Failure Rate View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/downloads">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#/help">Help</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container-fluid">
    <br>
    <h3>Introduction</h3>
    <p>Dashboard is an interactive reporting tool for visualization of stress test report data. </p>
    <p>It automatically updates the instrument errors in real time.</p>
    <p>Dashboard is lightweight MEAN stack(MongoDB, Express.js, AngularJS,Node.js) dynamic web application</p>
    <p>User can select instrument type(GEM5K, GEM4K or GWP) from the dropdown which is located at rightmost corner. Dashboard consists of four main tabs, Overview, Graphs, Charts and Downloads.</p>

    <h3>Architecture</h3>
    <div align="center">
        <br>
        <table>
            <tbody>
            <tr>
                <td align="center"><img src="/images/mean-arch.png" width="832" height="605"></td>
            </tr>
            <tr>
                <td align="center" class="font-weight-bold">MEAN Architecture</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div align="center">
        <br>
        <table>
            <tbody>
            <tr>
                <td align="center"><img src="/images/Dashboard-arch.JPG"></td>
            </tr>
            <tr>
                <td align="center" class="font-weight-bold">Dashboard Architecture</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

    <h3>Configuration</h3>
    <p>Dashboard contains properties file for each of three instruments in a Properties folder.</p>
    <div align="center">
        <br>
        <table>
            <tbody>
            <tr>
                <td align="center"><img src="/images/properties.JPG"></td>
            </tr>
            <tr>
                <td class="fighead">Figure A: Properties file structure</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
    <p>Properties file of an instrument looks similar to Figure A. It's in JSON format. User can add instrument details(Hostname/Network/SBC/Name) in InstConfig. User can add start date and end date in CommonConfig.properties file.</p>

    <h3>Code Structure</h3>
    <p>Dashboard follows MVC(Model View Controller) architecture. </p>
    <div align="center">
        <br>
        <table>
            <tbody>
            <tr>
                <td align="center"><img src="/images/ClientSideCode.JPG"></td>
            </tr>
            <tr>
                <td class="fighead">Figure B: Client side code structure</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
    <p>Client side services are under services folder. Controller and HTML template for each page is under views folder.</p>
    <div align="center">
        <br>
        <table>
            <tbody>
            <tr>
                <td align="center"><img src="/images/ServerSideCode.JPG"></td>
            </tr>
            <tr>
                <td class="fighead">Figure C: Server side code structure</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
    <p>Server side implementation is under project-server-code folder. Folder contains Server side APIs, database schema and database queries code.</p>

    <h3>API Documentation</h3>
    <ul>
        <li>Get All Reports</li>
        <ul>
            <li>URL: "/api/dashboard/:instType"</li>
            <li>Method: GET</li>
            <li>URL Params : Required: instType=[String]</li>
            <li>Response Codes: Success (200 OK), Bad Request (400)</li>
        </ul>
    </ul>
    <ul>
        <li>Get all filenames of folder</li>
        <ul>
            <li>URL: "/api/getfilenames/:path"</li>
            <li>Method: GET</li>
            <li>URL Params : Required: path=[String]</li>
            <li>Response Codes: Success (200 OK), Bad Request (400)</li>
        </ul>
    </ul>
    <ul>
        <li>Save or update the report</li>
        <ul>
            <li>URL: "/api/dashboard"</li>
            <li>Method: POST</li>
            <li>Data Params : <pre>
                {
                  u : {
                    reportData: [JSON],
                    build: [String],
                    instType: [String],
                    overallFR: [Number],
                    stableFR: [Number],
                    unstableFR: [Number],
                    releaseData: [JSON],
                    startDate: [Date],
                    endDate: [Date]
                  }
                }
                </pre>
            </li>
            <li>Response Codes: Success (200 OK), Bad Request (400)</li>
        </ul>
    </ul>
</div>
