<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Overview</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Config and Summary</a>
                    <a class="dropdown-item" href="#/failureview">Failure Rate View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/downloads">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#/help">Help</a>
            </li>
        </ul>
    </div>
</nav>


<h3 class="text-center">Coming Soon....</h3>