<div class="content-wrapper py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-fw fa-dashboard"></i>
                        Overview
                    </div>
                    <br>
                    <p>&nbsp;&nbsp;<b>Total Number of Errors:&nbsp;</b>{{model.totalCrashCount}}</p>
                    <p>&nbsp;&nbsp;<b>Known Errors:&nbsp;</b>{{model.knownCrashCount}}</p>
                    <p>&nbsp;&nbsp;<b>Unknown Errors:&nbsp;</b>{{model.unknownCrashCount}}</p>
                </div>
            </div>
            <div class="col-5">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Error Type Pie Chart
                    </div>
                    <nvd3 options="pieChart1" data="pieChartData1"></nvd3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Number of Crashes per Day
                    </div>
                    <nvd3 options="lineGraph" data="lineGraphData" class="with-3d-shadow with-transitions"></nvd3>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Known Unknown Defect Percentage
                    </div>
                    <nvd3 options="pieChart2" data="pieChartData2"></nvd3>
                </div>
            </div>
        </div>
    </div>
</div>

