<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Overview</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Config and Summary</a>
                    <a class="dropdown-item" href="#/failureview">Failure Rate View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/graphs">Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/charts">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/downloads">History</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#/help">Documentation</a>
                    <a class="dropdown-item" href="#/update">How to update Dashboard?</a>
                </div>
            </li>
        </ul>
    </div>
    <select ng-disabled="selectedInst.disabled" class="form-control pull-right" style="width:auto;" ng-model="selectedInst.instType"
            ng-change="model.updateReportData()" ng-options="x for x in names">
    </select>
</nav>

<div id="exportthis" class="content-wrapper py-3">
    <div class="container-fluid">
        <div ng-switch="selectedInst.instType">
            <div ng-switch-when = "GEM5K">
                <ng-include src="'views/pages/templates/config/show-GEM5K-config.view.client.html'"></ng-include>
            </div>

            <div ng-switch-when = "GEM4K">
                <ng-include src="'views/pages/templates/config/show-GEM4K-config.view.client.html'"></ng-include>
            </div>

            <div ng-switch-when = "GWP">
                <ng-include src="'views/pages/templates/config/show-GWP-config.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>