<div class="container">
    {{model.jsondata}}
    <button class="btn btn-primary" ng-click="model.readCSV()">
        Display CSV as Data Table
    </button>

    <div id="divID">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>warning?</th>
                <th>Description</th>
                <th>warning?</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in model.data">
                <td ng-repeat="y in x">{{ y }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

