<div class="container">
    {{model.jsondata}}
    <button class="btn btn-primary" ng-click="model.readCSV()">
        Display CSV as Data Table
    </button>
    <label class="pull-right">Search: <input ng-model="searchText"></label>
    <div id="divID">
        <table class="table">
            <thead ng-repeat="x in model.data" ng-if="$index == 0">
                <th ng-repeat="y in x">{{ y }}</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in model.data | filter:searchText" ng-if="$index > 0">
                <td ng-repeat="y in x">{{ y }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

