<div class="card mb-3">
    <div class="card-header"  style="color: red;">
        <i class="fa fa-fw fa-dashboard"></i>
        Stress Test Configuration
        <a ng-href="#/overview/{{model.baseline}}/{{selectedInst.instType}}" target="_blank" type="button" class="btn btn-primary pull-right">
            Go to Baseline</a>
    </div>
    <div class="table-responsive">
        <br>
        <ul>
            <li><b>Release Version:</b>&nbsp;{{model.config.Version}}</li>
        </ul>
        <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
            <thead>
            <tr class="alert-info">
                <th>Product</th>
                <th>SBC</th>
                <th>H.W.</th>
                <th>Version</th>
                <th>Stable</th>
                <th>Unstable</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>G4K</td>
                <td>VM New</td>
                <td>Virtual</td>
                <td>{{model.config.Version}}</td>
                <td>{{ model.vmNewStableCount }}</td>
                <td>{{ model.vmNewUnstableCount }}</td>
                <td>{{ (model.vmNewStableCount + model.vmNewUnstableCount) }}</td>
            </tr>
            <tr>
                <td>G4K</td>
                <td>VM Old</td>
                <td>Virtual</td>
                <td>{{model.config.Version}}</td>
                <td>{{ model.vmOldStableCount }}</td>
                <td>{{ model.vmOldUnstableCount }}</td>
                <td>{{ (model.vmOldStableCount + model.vmOldUnstableCount) }}</td>
            </tr>
            <tr>
                <td>G4K</td>
                <td>VM</td>
                <td>Virtual</td>
                <td>{{model.config.Version}}</td>
                <td>{{ model.vmStableCount }}</td>
                <td>{{ model.vmUnstableCount }}</td>
                <td>{{ (model.vmStableCount + model.vmUnstableCount) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header"  style="color: blue;">
        <i class="fa fa-fw fa-dashboard"></i>
        Summary
        <!--<button class="btn btn-primary pull-right" ng-click="model.exportData()">-->
        <!--<i class="fa fa-save"></i> Save as PDF</button>-->
    </div>
    <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>CR Number / Unknown</th>
            <th>Stable Network</th>
            <th>Unstable Network</th>
            <th>Overall</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in model.summary">
            <td>{{data.DefectId}}</td>
            <td>{{data.StableCount}}</td>
            <td>{{data.UnstableCount}}</td>
            <td>{{data.StableCount + data.UnstableCount}}</td>
        </tr>
        </tbody>
    </table>
</div>