<div class="card mb-3">
    <div class="card-header" style="color: red;">
        <i class="fa fa-fw fa-dashboard"></i>
        Stress Test Configuration
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <ul>
                <li><b>{{model.config.Count}} GEM5000’s</b></li>
                <ul ng-repeat="data in model.config.ConfigInfo">
                    <li>{{data}}</li>
                </ul>
            </ul>
            <ul>
                <li><b>Network Up/Down Scripts</b></li>
                <ul ng-repeat="data in model.config.NetworkScripts">
                    <li>{{data}}</li>
                </ul>
            </ul>
            <ul>
                <li><b>Sampling rate</b></li>
                <ul>
                    <li>{{model.config.SamplingRate}}</li>
                </ul>
            </ul>
        </div>
        <div class="col-8">
            <ul>
                <li><b>Run Time:</b>&nbsp;{{model.config.RunTime}}</li>
            </ul>
            <ul>
                <li><b>GWP Server</b></li>
                <ul ng-repeat="data in model.config.GWPConfig">
                    <li>{{data}}</li>
                </ul>
            </ul>
            <ul>
                <li><b>G5K version</b></li>
                <ul>
                    <li>{{model.config.Version}}</li>
                </ul>
            </ul>
            <ul>
                <li><b>Automation Issue</b></li>
                <ul>
                    <li>Minor, it not affecting current sample run but it'll be cleaner to dismiss "the print queue is full" message automatically.</li>
                </ul>
            </ul>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header"  style="color: blue;">
        <i class="fa fa-fw fa-dashboard"></i>
        Summary
        <!--<button class="btn btn-primary pull-right" ng-click="model.exportData()">-->
        <!--<i class="fa fa-save"></i> Save as PDF</button>-->
    </div>
    <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>CR Number / Unknown</th>
            <th>Description</th>
            <th>Stable Network</th>
            <th>Unstable Network</th>
            <th>Overall</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in model.summary">
            <td>{{data.DefectId}}</td>
            <td>UI Freeze clicking on a Test Panel -- NEED CRB</td>
            <td>{{data.StableCount}}</td>
            <td>{{data.UnstableCount}}</td>
            <td>{{data.StableCount + data.UnstableCount}}</td>
        </tr>
        </tbody>
    </table>
</div>
