<div class="card mb-3">
    <div class="card-header" style="color: red;">
        <i class="fa fa-fw fa-dashboard"></i>
        Stress Test Configuration
        <a ng-href="#/overview/{{model.baseline}}/{{selectedInst.instType}}" target="_blank" type="button" class="btn btn-primary pull-right">
            Go to Baseline</a>
    </div>
    <div class="table-responsive">
        <br>
        <ul>
            <li><b>Release Version:</b>&nbsp;{{model.config.Version}}&nbsp; <button ng-disabled="model.baseDisabled" ng-click="model.updateBaseLine(model.config.Version)" class="btn btn-info">Mark this as a Baseline</button></li>
            <li><b>Sampling Rate:</b>&nbsp;{{model.config.SamplingRate}}</li>
        </ul>
        <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">

            <thead>
            <tr class="alert-info">
                <th>Product</th>
                <th>SBC</th>
                <th>H.W.</th>
                <th>Version</th>
                <th>Stable</th>
                <th>Unstable</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>G4K</td>
                <td>New Seco</td>
                <td>Product</td>
                <td>{{model.config.Version}}</td>
                <td>{{ model.newSecoStableCount }}</td>
                <td>{{ model.newSecoUnstableCount }}</td>
                <td>{{ (model.newSecoStableCount + model.newSecoUnstableCount) }}</td>
            </tr>
            <tr>
                <td>G4K</td>
                <td>Old Seco</td>
                <td>Product</td>
                <td>{{model.config.Version}}</td>
                <td>{{ model.oldSecoStableCount }}</td>
                <td>{{ model.oldSecoUnstableCount }}</td>
                <td>{{ (model.oldSecoStableCount + model.oldSecoUnstableCount) }}</td>
            </tr>
            <tr>
                <td>G4K</td>
                <td>Kontron</td>
                <td>Product</td>
                <td>{{model.config.Version}}</td>
                <td>{{ model.kontronStableCount }}</td>
                <td>{{ model.kontronUnstableCount }}</td>
                <td>{{ (model.kontronStableCount + model.kontronUnstableCount) }}</td>
            </tr>
            <tr>
                <td>Server</td>
                <td>G8</td>
                <td>Virtual</td>
                <td>{{model.config.GWP_Version}}</td>
                <td>1</td>
                <td>N/A</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" style="color: blue;">
        <i class="fa fa-fw fa-dashboard"></i>
        Summary
        <!--<button class="btn btn-primary pull-right" ng-click="model.exportData()">-->
        <!--<i class="fa fa-save"></i> Save as PDF</button>-->
    </div>
    <br>
    <div class="row">
        <div class="col">
            <ul>
                <li><b>Stable Network</b></li>
            </ul>
            <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
                <thead>
                <tr class="alert-warning">
                    <th>Error Type</th>
                    <th>New</th>
                    <th>Kontron</th>
                    <th>Old</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Crash</td>
                    <td>{{model.stableNewSecoCrash}}</td>
                    <td>{{model.stableKontronCrash}}</td>
                    <td>{{model.stableOldSecoCrash}}</td>
                </tr>
                <tr>
                    <td>Freeze</td>
                    <td>{{model.stableNewSecoFreeze}}</td>
                    <td>{{model.stableKontronFreeze}}</td>
                    <td>{{model.stableOldSecoFreeze}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <ul>
                <li><b>Unstable Network</b></li>
            </ul>
            <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
                <thead>
                <tr class="alert-danger">
                    <th>Error Type</th>
                    <th>New</th>
                    <th>Kontron</th>
                    <th>Old</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Crash</td>
                    <td>{{model.unStableNewSecoCrash}}</td>
                    <td>{{model.unStableKontronCrash}}</td>
                    <td>{{model.unStableOldSecoCrash}}</td>
                </tr>
                <tr>
                    <td>Freeze</td>
                    <td>{{model.unStableNewSecoFreeze}}</td>
                    <td>{{model.unStableKontronFreeze}}</td>
                    <td>{{model.unStableOldSecoFreeze}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <ul>
                <li><b>Summary</b></li>
            </ul>
            <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">
                <thead>
                <tr class="alert-success">
                    <th>CR Number / Unknown</th>
                    <th>Stable Network</th>
                    <th>Unstable Network</th>
                    <th>Overall</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in model.summary">
                    <td>{{data.DefectId}}</td>
                    <td>{{data.StableCount}}</td>
                    <td>{{data.UnstableCount}}</td>
                    <td>{{data.StableCount + data.UnstableCount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>

</div>