<div class="card-header">
    <i class="fa fa-fw fa-dashboard"></i>
    Stress Test Configuration
</div>
<div class="table-responsive">
    <table class="table table-bordered bordered table-striped table-condensed" width="100%" cellspacing="0">

        <thead style="font-weight:bold;">
            <tr>
                <td>Product</td>
                <td>SBC</td>
                <td>H.W.</td>
                <td>Version</td>
                <td>Stable</td>
                <td>Unstable</td>
                <td>Total</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="data in model.config">
                <td>{{ data.Product}}</td>
                <td>{{ data.SBC }}</td>
                <td>{{ data.hw }}</td>
                <td>{{ data.Version }}</td>
                <td>{{ data.Stable }}</td>
                <td>{{ data.Unstable }}</td>
                <td>{{ data.Total }}</td>
            </tr>
        </tbody>
    </table>
</div>